<template>
	<AppTailwindExample />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AppTailwindExample from "@/components/AppTailwindExample.vue";

@Options({
	components: {
		AppTailwindExample,
	},
})
export default class Home extends Vue {}
</script>