<template>
<div class="h-screen bg-red-50">
	<Header />
	<Body />
	<Footer />
</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Header from "@/components/TheHeader.vue";
import Body from "@/components/TheBody.vue"
import Footer from "@/components/TheFooter.vue";

@Options({
	components: {
		Footer,
		Body,
		Header,
	},
})
export default class Home extends Vue {}
</script>
