<template>
	<div class="container mx-auto">
		<a
			href="https://tailwindcss.com/docs/container"
			class="text-blue-600 underline"
			target="blank"
			>tailwind container 範例</a
		>
		<h1>這是一個 tailwind button 例子</h1>

		<!-- tail wind button example -->
		<button
			class="flex shadow block border-blue-600 border-2 rounded-full focus:outline-none focus:border-blue-600 px-4 py-2 text-blue-600 hover:bg-blue-600 hover:text-white"
		>
			<svg
				class="inline-block h-5 w-5 mr-1"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			>
				<path
					fill-rule="evenodd"
					d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387A7.731 7.731 0 007.1 19h5.8a7.68 7.68 0 001.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3s2 .754 2 2.199V8z"
				/>
			</svg>
			<a
				target="blank"
				href="https://tailwindcomponents.com/component/outline-button-1"
				>點我，帶你去</a
			>
		</button>
		<!-- tail wind button example ends -->
	</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
	props: {},
})
export default class AppTailwindExample extends Vue {}
</script>