<template>
	<div class="text-center h-20 bg-green-50">Body</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
	props: {},
})
export default class TheBody extends Vue {}
</script>
