<template>
	<div class="text-center h-20 bg-blue-50">Footer</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
	props: {},
})
export default class TheFooter extends Vue {}
</script>
