<template>
	<div class="text-center h-20 bg-yellow-50">Header</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
	props: {},
})
export default class TheHeader extends Vue {}
</script>
