<template>
	<div id="nav">
		<router-link to="/">Home</router-link> |
		<router-link to="/examples">Examples</router-link>
	</div>
	<router-view />
</template>

<style lang="scss">
@import "./assets/scss/main.scss";
</style>
